.post{
    margin-top: 50px;
    /*
    -webkit-box-shadow: -9px 10px 20px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 10px 20px -9px rgba(0,0,0,0.75);
    box-shadow: -9px 10px 20px -9px rgba(0,0,0,0.75);
    */
    border:2px solid rgb(78, 22, 92);
    border-radius: 10px;
    background-color:#242526;
    font-family: 'Cairo', sans-serif;
    font-family: 'Recursive', sans-serif;
    
}
.img-box{
  /*
    position: absolute;
    top: -65px;
    left: 15px;*/
    border: 2px solid #FFC107;
    border-radius:60px;
    background:linear-gradient(to right,#FFC107,purple);
    padding:3px;
  }

  textarea{
    resize:none;
    font-family: 'Cairo', sans-serif;
    font-family: 'Recursive', sans-serif;
    font-weight: 500;
    padding:10px;
    background:transparent;
    overflow: auto;
  }

 



  
  button{
    transition: all 0.5s;
    padding:5px 20px;
    margin-right: 30px;
    background-color:#FFC107;
    font-family: 'Cairo', sans-serif;
    font-family: 'Recursive', sans-serif;
  }
  button:hover{
    transform: skew(15deg,0deg);
  }
