
<nav class="navbar navbar-light bg-light overflow-hidden">
   <div class="logo col-6 position-relative">
    <a class="navbar-brand" href="#">
      <img src="../../assets/2.png"  height="100px"  alt="">
    </a>
  </div>
 <div class="col-6">
    <form class="d-flex ">
      <mat-form-field class="col-8 text-white" appearance="fill">
        <mat-label><span class="text-white">Search</span></mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button class="d-block overflow-hidden" color="accent">Search<mat-icon>search</mat-icon></button>
    </form>
  </div>
</nav>